@model KaciesKitchen.Models.RecipeModels.RecipeCreate
    @using KaciesKitchen.Data;

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
<fieldset>
    <legend>Create a New Recipe</legend>
    <hr />
    @Html.HiddenFor(Model => Model.RecipeId)

    <div class="editor-label">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
    </div>
    <hr />
    <div class="editor-label">
        @Html.LabelFor(model => model.Directions, htmlAttributes: new { @class = "control-label col-md-2" })
    </div>
    <div class="editor-field">
            @Html.EditorFor(model => model.Directions, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Directions, "", new { @class = "text-danger" })
    </div>
</fieldset><br />
<fieldset>
    <legend>Ingredients Needed:</legend>
    @if (Model.IngredientsList == null || Model.IngredientsList.Count() == 0)
    {
        <p>Nothing so far. Add an ingredient to get started!</p>
    }
    else
    { <div id="new-Ingredient">
            <ul id="ingredientEditor" style="list-style-type: none">
                @foreach (IngredientListDict item in Model.IngredientsList)
                {
                    @Html.Partial("CreatePartial", item);
                }
            </ul>
        </div>
    }
    <div>
        <a id ="addAnother" href="#">Add Another Ingredient</a>
    </div>
    
    @section Scripts
        {
        <script type="text/javascript">
            $("#addAnother").click(function () {
                $.get('/Recipe/IngredientRow', function (template) {
                    $("#ingredientEditor").append(template);
                });
            });
            $("deleteRow").live("click", function () {
                $(this).parents("ingredientRow: first").remove();
                return false;
            });
        </script>
        @Scripts.Render("~/bundles/jqueryval")
    }
</fieldset>
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create Recipe" class="btn btn-default" />
        </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

